* { margin: 0; padding: 0; }

.nav li{ 
    padding: 10px;
}

.container-projetos{
    background-color:whitesmoke;
}

.avaliacoes{
    background-color:whitesmoke;
}

.titulo{
    color:#af920d;
    
}
